{% extends './basePanelAsistencias.html' %}

{% block title %} {{ datos.titulo }} {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/graficos.css') }}">
{% endblock %}


{% block content %} 

    <div class="row">
        <div class="col-md-12">
            <h4 class="display-6" style="text-align: center; padding-top: 1%; ">{{ datos.titulo }}</h4>
            <br>
        </div>
    </div>

    <div class="row">

            <div class="col-md-8">
                <h3 style="text-align: center;">Equipos Registrados</h3>
                <a href="{{ url_for('system.pruebaGeneral' ) }}" class="btn btn-primary">
                    Prueba General
                </a>
                <table class="table table-striped" cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                    <thead>
                    <tr>
                        <th scope="col">Equipo</th>
                        <th scope="col">ipv4</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for equipo in datos.equipos %}
                            <tr>
                                <td>{{equipo[1] }}</td>
                                <td>{{equipo[2] }}</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <a class="nav-link" href="{{ url_for('system.pruebaLatenciaIndividual',idEquipo=equipo[0] ) }}">
                                                    <img src="{{ url_for('static', filename='img/sistemaicons/editar_32.png') }}" alt="Realizar Prueba de latencia" title="Realizar Prueba de latencia" />
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

            <div class="col">
                <h3 style="text-align: center;">{{ datos.mensajePrueba }}</h3>
                <canvas style="width: 300px; height: 150px;" id="chartAsistencias" ></canvas>
        
            </div>

    </div>


    <!-- Configuracion del gráfico -->
    <script>
        //function creaGraficoAsistencias() {
            var dataAsistencias = {
                labels: ["Total evaluados", "Prubas Exitosas", "Pruebas Dallidas"],
                datasets: [{
                    label: "Reporte de Latencia",
                    data: [ {{ datos.total_equipos_evaluados }}
                        , {{ datos.pruebas_exitosas }}
                        , {{ datos.pruebas_fallidas }} ],
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            };

  
            // Configuración del gráfico de Asistencias
            var ctx = document.getElementById('chartAsistencias').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: dataAsistencias
            });

        //}

        //creaGraficoAsistencias():
    </script>    

  

{% endblock %}

